.App {
  text-align: center;
}

.dialogStyles {
  width: 500px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: rgb(243, 204, 152);
  padding: 10px 20px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.3);
  /* for real browsers */
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
}

.alert-text {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 22px;
  letter-spacing: 1.2px;
  word-spacing: 4.8px;
  color: grey;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  margin-left: 2rem;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.dialogCloseButtonStyles {
  margin-bottom: 15px;
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  font-weight: bold;
  align-self: flex-end;
}

.selection-image {
  height: 100px;
  width: 100px;
}

.Right__Align {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.Left__Align {
  text-align: left;
  padding-left: 6.5%;
}

.right-align {
  background-color: #323135;
  display: flex;
  justify-content: left;
  column-gap: 4%;
  padding-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
}

.left-align {
  background-color: #323135;
  display: flex;
  justify-content: left;
  column-gap: 4%;
  padding-left: 8%;
  margin-top: auto;
  margin-bottom: auto;
}

.space-gap {
  display: flex;
  background-color: #323135;
  justify-content: space-between;
  padding-right: 3%;
  padding-top: 0.6%;
  border-color: #323135;
  border-style: solid;
  border-width: thin;

  padding-bottom: 0.6%;
}

.button-style {
  background-color: #ffffff;
}

.horizontal-align {
  display: flex;
  justify-content: space-evenly;
  margin-left: 2%;
  margin-right: 2%;
}

.inline {
  display: inline;
}

.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -27%;
  margin-left: -30%;
}

/* .text-wrapper h1{
  text-align: center;
  color: #ffffff;
  font-size: 10vw;
} */

.Add__Padding {
  border-radius: 10px;
  height: 25px;
  border-width: 2px;
  padding-left: 10px;
  text-align: left;
}

.input-div {
  width: 15rem;
  height: 2.3rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin-left: 10rem;
  margin-bottom: 1rem;
}



.input-textfield1 {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgb(25, 25, 25);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(25, 25, 25);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(25, 25, 25);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(25, 25, 25);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(25, 25, 25);
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  font-variant-ligatures: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 24px;
  outline-color: rgb(25, 25, 25);
  outline-style: none;
  outline-width: 0px;
  overflow: visible;
  overflow-wrap: break-word;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  resize: vertical;
  text-align: start;
  width: 327.4px;
  -moz-appearance: none;
}

.input-textfield {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgb(25, 25, 25);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(25, 25, 25);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(25, 25, 25);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(25, 25, 25);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(25, 25, 25);
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  font-variant-ligatures: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 24px;
  outline-color: rgb(25, 25, 25);
  outline-style: none;
  outline-width: 0px;
  overflow: visible;
  overflow-wrap: break-word;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  resize: vertical;
  text-align: start;
  width: 144.4px;
  -moz-appearance: none;
}

.input-container1 {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(25, 25, 25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(25, 25, 25);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(25, 25, 25);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(25, 25, 25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
  box-sizing: border-box;
  color: rgb(25, 25, 25);
  display: flex;
  font-size: 16px;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 500;
  line-height: 24px;
  max-width: 600%;
  overflow-wrap: break-word;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  text-align: center;
  width: 357.4px;
  z-index: 1;
  -moz-box-align: center;
}

.input-container {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(25, 25, 25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(25, 25, 25);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(25, 25, 25);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(25, 25, 25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
  box-sizing: border-box;
  color: rgb(25, 25, 25);
  display: flex;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 500;
  line-height: 24px;
  max-width: 100%;
  overflow-wrap: break-word;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  text-align: center;
  width: 176.4px;
  z-index: 1;
  -moz-box-align: center;
}

.first-name-label {
  align-items: baseline;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: flex;
  flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 400;
  justify-content: space-between;
  line-height: 24px;
  margin-bottom: 4px;
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: center;
  -moz-box-align: baseline;
  -moz-box-pack: justify;
}

.first-name-container {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: break-word;
  text-align: center;
  width: 180.4px;
}

.name-container {
  margin-top: 7px;
  margin-bottom: 7px;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: flex;
  font-family: "-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif";
  font-size: 16px;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: break-word;
  text-align: center;
}

.name-input {
  margin-top: 7px;
  margin-bottom: 7px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(25, 25, 25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(25, 25, 25);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(25, 25, 25);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(25, 25, 25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
  box-sizing: border-box;
  color: rgb(25, 25, 25);
  font-size: 16px;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 500;
  line-height: 24px;
  max-width: 100%;
  overflow-wrap: break-word;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  width: 170px;
  z-index: 1;
}

.input-input {
  margin-top: 7px;
  margin-bottom: 7px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(25, 25, 25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(25, 25, 25);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(25, 25, 25);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(25, 25, 25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
  box-sizing: border-box;
  color: rgb(25, 25, 25);
  font-size: 16px;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 500;
  line-height: 24px;
  max-width: 100%;
  overflow-wrap: break-word;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  width: 350.4px;
  z-index: 1;
}

.login-button {
  margin-top: 5%;
  padding: 10px 148px;
  background-color: #f08080;
  border: 2px solid #f08080;
  border-radius: 38px;
  font-size: 20px;
}

.resize {
  height: 3rem;
  width: 3rem;
  margin-top: 1.1rem;
}

.add-item-align {
  display: flex;
  justify-content: center;
  background-color: grey;
  column-gap: 1rem;
}

.submit {
  margin-top: 5%;
  padding: 10px 100px;
  background-color: #c14848;
  border: 2px solid #c14848;
  border-radius: 38px;
  font-size: 20px;
  color: white;
}

.content-container-div {
  margin-bottom: 7px;
  margin-top: 7px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator::before {
  margin-right: 0.25em;
}

.separator::after {
  margin-left: 0.25em;
}

.checkbox-div {
  text-align: right;
  margin-right: 25px;
  margin-bottom: 10px;
}

.google-button {
  padding: 15px 90px;
  background-color: #4e71ba;
  border: 2px solid #4e71ba;
  color: white;
  border-radius: 38px;
  font-size: 20px;
  padding-bottom: 10px;
}

.facebook-button {
  padding: 15px 80px;
  background-color: #3b5998;
  border: 2px solid #3b5998;
  color: white;
  border-radius: 38px;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.label-div-name {
  display: flex;
  margin-left: 0px;
}

.label-div {
  display: flex;
  margin-left: 24px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.login-text {
  font-weight: bold;
  color: lightcoral;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 200%;
}


.grey {
  top: 0;
  left: 0;
  position: relative;
  opacity: 70%;
  height: 32rem;
}

.header {
  top: inherit;
  left: 0px;
  position: absolute;
  height: 32rem;
}

.selection-label {
  font-weight: bold;
  color: rgb(233, 158, 158);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 100%;
}

.home-header {
  padding-bottom: 7%;
}

.description-label {
  font-size: 13px;
  font-weight: bold;
  color: grey;
  justify-content: left;
  text-align: left;
  padding-left: 7px;
}

.restaurant-label {
  font-size: 20px;
  font-weight: bold;
  justify-content: left;
  text-align: left;
  padding-left: 7px;
}

.edit-label {
  font-size: 20px;
  font-weight: bold;
  justify-content: left;
  text-align: center;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  background-color: grey;
}

.restaurant-label-cart {
  font-size: 20px;
  font-weight: bold;
  justify-content: left;
  text-align: left;

}

.horiz-align {
  display: flex;
}

.check-item {
  width: inherit;
  background-color: wheat;
  border-color: black;
  border-style: groove;
  border-width: thin;
  max-height: 7rem;
  min-height: 7rem;
}

.shop-container {
  margin-top: 2.5rem;
  background-color: whitesmoke;
  height: 31rem;
  overflow-y: auto;
}

.cart-label {
  margin-top: 30%;
  margin-left: 5rem;
  color: brown;
  font-weight: bolder;
}

.info-m {
  margin-top: -5rem;
  margin-left: 20rem;
  padding-left: 30rem;
}

.cart-div {
  border-color: rgb(171, 170, 170);
  border-style: groove;
  border-width: thin;
  margin-top: -6%;
  height: 50rem;
  width: 20rem;
  margin-left: 79%;
  background-color: beige;
  position: fixed;
}

.rest-edit {
  margin-left: 21rem;
}

.wi {
  width: 17.5rem;
}

.dark {
  background-color: white;
}

.enlarge {
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
}

.button-bar {
  border-top: black;
  border-top-style: solid;
  display: flex;
  padding-left: 2rem;
  column-gap: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: #d2d4da;
}

.owner-btn:hover {
  background-color: #d6624e;

}

.owner-btn {
  background-color: #c14848;
  border: none;
  color: white;
  width: 13rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.cart-div-reg {
  border-color: #323135;
  border-style: groove;
  border-width: thin;
  margin-top: -51.6%;
  height: 40rem;
  width: 23rem;
  padding-left: 4rem;
  padding-top: 1rem;
  background-color: #d2d4da;
  position: absolute;
  color: black;
  font-weight: bold;
}

.rest-header {
  height: 29.5rem;
  width: 100rem;
  background-color: rgb(255, 255, 255);
}

.rest-he {
  height: 29.5rem;
  width: 100rem;
}

.info-labels {
  margin-left: 7%;
}

.info-card {
  width: 100%;
  height: 18rem;
  margin-top: 5rem;
  margin-left: -9%;
  background-color: whitesmoke;
  box-shadow: 0 32px 8px 0 rgba(0, 0, 0, 0.2);
}

.large-al {
  margin-top: -10rem;
  margin-left: 20rem;
}

.large-pic {
  width: 800px;
  height: 24rem;
  margin-top: 2.6rem;
  border-bottom-color: grey;
  border-bottom-style: solid;
  box-shadow: 0 5px 4px 5px rgb(136, 136, 136);
}

.small-pic {
  height: 195px;
  width: 340px;
  border-radius: 3%;
}

.small-pic-card {
  height: 195px;
  width: 340px;
}

.item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 80rem;

}

.checkout-img {
  height: 5rem;
  width: 6.5rem;
  margin-left: 10rem;
  margin-top: -20em;
  margin-bottom: 1.5em;
  position: relative;
}

.items-gap {

  max-width: 26rem;
  max-height: 13rem;
  min-width: 13rem;
  min-height: 13rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
  background-color: beige;
}

.items-gap-cart {

  min-height: 16;
  max-height: 16rem;
  margin-left: 2rem;
  padding-bottom: 1rem;

}

.wrap-gap {
  width: 350px;
  height: 250px;
  border: none;
  background-color: white;
  margin-bottom: 5%;
  outline: none;
  box-shadow: none;
}

.align-img {
  height: 450px;
  width: 700px;
  margin-bottom: -30%;
  margin-left: 50%;
}

.logo {
  height: 70px;
  width: 80px;
}

.r12 {
  margin-top: 1rem;
}

.exc {
  width: 3rem;
  height: 4rem;
  margin-left: -0.6rem;
}

.logo-text {
  color: white;
  height: inherit;
  color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 35px;

  letter-spacing: -0.8px;
  word-spacing: 6px;
  font-weight: 700;
}

.logo-col {
  color: orange;
}

.button-logo {
  background-color: inherit;
  border-color: inherit;
  border-style: none;
  border: none;
  height: inherit;
}

.pink-border {
  padding-top: 1%;
  background-color: rgb(255, 242, 241);
}

.align-text {
  margin-left: 13%;
}

.map {
  margin-inline: 10%;
  width: 600px;
  height: 400px;
  margin-bottom: 10%;
  margin-left: 13%;
}

.item-gap {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 7%;
  padding-top: 2%;
  justify-content: space-evenly;
}

.functional-card {
  background-color: lightyellow;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  box-sizing: border-box;
  color: rgb(33, 37, 41);
  flex-direction: column;
  font-weight: 400;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3), 1px 12px 14px rgba(0, 0, 0, 0.3);
  line-height: 24px;
  text-align: center;
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  margin-bottom: 1%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 8px;
  display: flex;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
}

.header-card {
  background-color: white;
  border-top-style: none;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3), 1px 12px 14px rgba(0, 0, 0, 0.3);
  line-height: 24px;
  text-align: center;
  width: 25%;
  max-height: 20rem;
  margin-left: 30rem;
  padding-bottom: 5%;
  margin-bottom: 1%;
}

.edit {
  background-color: teal;
  height: 3rem;
  color: white;
}

.delete {
  background-color: rgb(228, 87, 87);
  height: 3rem;
  color: white;
}

.card {
  background-color: wheat;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 21.26rem;
  height: 20rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  background-color: beige;
}

.App_Card {
  background-color: lightyellow;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3), 1px 12px 14px rgba(0, 0, 0, 0.3);
  line-height: 24px;
  text-align: center;
  width: 27%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  margin-bottom: 1%;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.searchbtn {
  max-height: 2.5rem;
  color: white;
  background-color: rgb(193, 72, 72);
  border-color: black;
}

.search-size {
  display: flex;
  margin-left: 1rem;
  max-width: 17rem;
  margin-top: -0.6rem;
}

.acontainer {
  padding-top: 10px;
  background-color: #eff0eb;
  color: rgb(248, 244, 187);
  font-family: "-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif";
  font-size: 16px;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: break-word;
  text-align: center;
  height: 1000px;
}

.name-form1 {
  justify-content: left;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: flex;
  font-family: "-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif";
  font-size: 16px;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: break-word;
  text-align: left;
  padding-left: 20px;
}

.name-form {
  justify-content: center;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: flex;
  font-family: "-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif";
  font-size: 16px;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: break-word;
  text-align: center;
}

.Text__Style {
  color: orange;
  text-decoration: none;
  font-size: 2.7em;
}

img {
  width: 100%;
  height: 35em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loginbar {
  width: 800px;
  height: 400px;
  box-sizing: border-box;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px red;
  color: orange;
  margin-top: 200px;
}

/* 
body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  height: 100vh;
  display: flex;
  color: white;
}

.App__Form {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fffafa;
  align-content: center;
}

.alert-button {
  width: 9rem;
  height: 3rem;
  background-color: salmon;
  border-radius: 2rem;
  border: none;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 22px;
  letter-spacing: 1.2px;
  word-spacing: 4.8px;
  font-weight: 700;
}

.alert-button-cancel {
  width: 9rem;
  height: 3rem;
  background-color: gray;
  border-radius: 2rem;
  border: none;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 22px;
  letter-spacing: 1.2px;
  word-spacing: 4.8px;
  font-weight: 700;
}

.checkout-button {
  width: inherit;
  height: 5rem;
  background-color: rgb(152, 65, 38);
  color: white;


}

.PageSwitcher {
  display: flex;
  justify-content: right;
  padding-top: 1%;
  margin-bottom: 2%;
}

.PageSwitcher__Item {
  background-color: rgb(224, 224, 224);

  color: black;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;

  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: lightsalmon;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: orange;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}

.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616e7f;
}

.FormField__Button {
  background-color: #52c4b9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225e62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.menu-items-h1 {
  margin-left: 3rem;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.receipt-titles {
  display: flex;
  justify-content: space-between;
}

.ale {
  display: flex;
  justify-content: space-between;
}

.receipt-price {
  display: flex;
  justify-content: space-between;
}

.center-content {
  display: flex;
  justify-content: center;
}

.t {
  letter-spacing: 0.3rem;
  display: flex;
  justify-content: space-evenly;
}

.e {
  word-spacing: 5.2rem;
}

.f {
  word-spacing: 7.4rem;
}

.lab-gap {
  word-spacing: 6.4rem;
}

.button-sp {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.card-size {
  width: 24rem;
  height: 7rem;
  margin-left: 3.5rem;
}

.Page_item {
  background-color: red;
}

.header-par {
  position: absolute;
  margin-top: -19%;
  margin-left: 36%;
  font-size: 30px;
  color: rgb(213, 63, 63);
  font-weight: normal;
  max-width: 50rem;
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 1.2px;
  word-spacing: 4.8px;
  font-weight: 700;
}

.header-hr {
  position: absolute;
  margin-top: -20.6%;
  margin-left: 30%;
  width: 1000px;
  color: white;
  font-family: graphik;
  font-weight: bold;


}

.header-btn {
  position: absolute;
  margin-top: 30%;
  margin-left: -44%;
  width: 11rem;
  height: 3.5rem;
  background-color: #f26226;
  border-radius: 0.5rem;
  border: ivory;
  color: white;
  font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 22px;
  letter-spacing: 1.2px;
  word-spacing: 4.8px;
  font-weight: 700;
}

.header-text {
  position: absolute;
  margin-top: -35%;
  margin-left: 38%;
  font-size: 90px;
  letter-spacing: -0.1rem;

  color: white;
  font-family: graphik;
  font-weight: bold;


}

.header-card-top {
  display: flex;
  padding-top: 1rem;
  color: white;
  background-color: #323135;
}

.timer {
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: bold;
  margin-left: 1rem;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 23px;
  letter-spacing: 1.2px;
  word-spacing: 4.8px;
  font-weight: 700;
}

.header-card-text {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 30px;
  letter-spacing: -1.0px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

.mapping {
  margin-left: 32%;
  width: 120px;
  height: 80px;
}

.s-r {
  color: darkolivegreen;
  margin-left: -0.5rem;
}

.fff {
  display: flex;
  max-width: 100vmax;
}

.info-h1 {
  font-family: UberMove-Medium, sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.info-h2 {
  font-family: UberMove-Medium, sans-serif;
}

.addcard-btn {
  width: 7rem;
  height: 3rem;
  background-color: #f26226;
  border-radius: 0.5rem;
  border: ivory;
  color: white;
  font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  word-spacing: 4.8px;
  font-weight: 700;
  margin-left: 13.5rem;
  margin-top: -2.3rem;
  position: absolute;
}




/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
}

.dropbtnowner {
  background-color: tomato;
}

.dropbtndriver {
  background-color: teal;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.user-card {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  margin-left: 7rem;
  margin-bottom: 6rem;
  width: 25rem;
  height: 30rem;
  background-color: white;

}

.account-container {
  display: flex;
  justify-content: start;

}


.div-cards {
  margin-top: 5rem;
  margin-left: -7rem;
  max-width: 30rem;
}

.push-down {
  margin-bottom: 1.2rem;
}

.align-account-text {
  margin-left: 10rem;
}

.account-label {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.profile-pic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-top: 1rem;
}

.green {
  color: green;
  font-size: 20px;
}


.account-btn {
  height: 3rem;
  width: 9rem;
  color: white;
  background-color: rgb(193, 72, 72);
  border-color: rgb(193, 72, 72);
  border-radius: 38px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.account-background {
  background-color: #d2d4da;
}

.owner-container {
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 100rem;
}

.owner-items {
  display: flex;
  justify-content: center;
}

.owner-banner {
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 34px;
  font-weight: bold;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

.invoice-item {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

.invoice-item1 {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

.sizing {
  width: 60rem;
}

.dropdown-size {
  width: 50rem;
  letter-spacing: auto;
  background-color: beige;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.back {
  background-color: #d2d4da;
}

.color-owner {
  background-color: #c14848;
  color: wheat;
  font-size: 25px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

.color-green {

  color: rgb(76, 213, 76);
  font-size: 25px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

.background {
  padding-top: 1rem;
  background-color: teal;
  margin-left: 15rem;
  margin-right: 15rem;
  border-style: solid;
  border-color: black;
  border-radius: 1rem;
}